/* CSS files add styling rules to your content */

body {
  font-family: Tahoma, arial, sans-serif;
  margin: 2em;
      background-color: #42518D;
    color: #FBEFF1;
}

h1 {
  /*font-style: italic;*/
  color: #FBEFF1;
  font-family: Tahoma, arial, sans-serif; 
}

#gameButtonArea > button {
  height: 200px;
  width: 200px;
  border-radius: 200%;
}

.hidden {
  display: none;
}

/* button colors*/
#button1 {
    background:palegreen;
}

#button1:active, #button1.lit {
    background:limegreen;
}



#button2 {
    background: lightcyan;
}

#button2:active, #button2.lit {
    background:deepskyblue;
}



#button3 {
    background: pink;
}

#button3:active, #button3.lit {
    background:hotpink;
}



#button4 {
    background: lightyellow;
}

#button4:active, #button4.lit {
    background:yellow;
}
